@page "/User/CreateAccount"
@using MyLibrary.WebUI.Models
@inject HttpClient Http

<h3>CreateAccount</h3>


<EditForm class="d-flex flex-column align-items-left" Model="@user" OnValidSubmit="HandleValidSubmitAsync">
    <DataAnnotationsValidator />

    <div class="m-2">
        <label for="firstName">FirstName: </label>
        <InputText id="firstName" @bind-Value="@user.FirstName"></InputText>
        <ValidationMessage For="@(() => user.FirstName)"></ValidationMessage>
    </div>

    <div class="m-2">
        <label for="lastName">LastName: </label>
        <InputText id="lastName" @bind-Value="@user.LastName"></InputText>
        <ValidationMessage For="@(() => user.LastName)"></ValidationMessage>
    </div>

    <div class="m-2">
        <label for="email">Email: </label>
        <InputText id="email" @bind-Value="@user.Email"></InputText>
        <ValidationMessage For="@(() => user.Email)"></ValidationMessage>
    </div>

    <div class="m-2">
        <label for="phoneNumber">PoneNumber: </label>
        <InputText id="phoneNumber" @bind-Value="@user.PhoneNumber"></InputText>
        <ValidationMessage For="@(() => user.PhoneNumber)"></ValidationMessage>
    </div>

       <button type="submit" class="btn btn-primary">Create User</button>
</EditForm>

@if (displayMessage)
{
    <div class="d-flex flex-row align-items-left">
        <p style="font-size: 25px;color: green;">The user was created.</p>
    </div>
}

@code {
    private CreateUserRequestModel user = new();

    private bool displayMessage = false;

    public async Task HandleValidSubmitAsync()
    {
        await Http.PostAsJsonAsync("users", user);
        displayMessage = true;
        user = new();
    }
}



